@import url(https://fonts.googleapis.com/css?family=Karla:400,700|Cabin:600);
/* line 7, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
html, head, body {
  min-height: 100%; }

/* line 11, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
body {
  background-image: linear-gradient(180deg, #00d39b, #4cb9c5);
  background-repeat: no-repeat;
  padding: 5px;
  transition: padding 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55); }
  @media (min-width: 992px) {
    /* line 11, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    body {
      padding: 10px; } }

/* line 19, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.background {
  background-color: white; }

/* line 24, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
hr {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 1.4em 0;
  border: none;
  background: #ddd;
  background-image: -moz-linear-gradient(left center, white 0%, #dddddd 10%, #dddddd 90%, white 100%); }

/* line 35, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.container {
  background: #ffffff;
  padding-bottom: 5%; }
  /* line 42, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .centered-text {
    text-align: center; }
  /* line 44, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .body-row {
    width: 100%;
    display: inline-block; }
  /* line 47, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .body-full {
    width: 100%; }
  /* line 49, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .body-50pc {
    width: 50%;
    float: left; }
  /* line 52, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .body-33pc {
    width: 33.3%;
    float: left; }
  /* line 55, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .body-25pc {
    width: 25%;
    float: left; }
  /* line 58, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container .body-75pc {
    width: 75%;
    float: left; }
  @media screen and (max-width: 768px) {
    /* line 62, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    .container .body-75pc, .container .body-25pc, .container .body-33pc, .container .body-50pc {
      width: 100%; } }

/* line 70, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.icon-ion-plus:before {
  content: "+"; }

/* line 73, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.expand-text .icon {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 30px;
  transition: 0.3s;
  -webkit-backface-visibility: hidden; }

/* line 80, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.expand-text .icon.rotate {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/* line 85, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.description-small {
  display: inline-block;
  padding: 20px 0;
  margin-bottom: 10px; }
  /* line 89, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .description-small .container {
    background: none; }
  /* line 91, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .description-small h1 {
    font-size: 27px; }

/* line 94, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.work-intro {
  margin-bottom: 10px;
  margin-top: 20px; }

/* line 98, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.expand-text {
  cursor: pointer; }

/* line 101, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.expand-text .icon {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 30px;
  transition: 0.3s;
  -webkit-backface-visibility: hidden; }

/* line 108, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.expandable-text {
  display: none;
  margin-bottom: 20px; }

/* line 112, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.projectPic {
  margin-top: 15px; }

/* line 121, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cabin", sans-serif; }

/* line 124, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400; }

/* line 129, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.lead {
  font-size: 20px; }

/* line 134, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.navTainer {
  margin: auto;
  width: auto; }

@media (min-width: 768px) {
  /* line 139, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .navTainer {
    width: 750px; } }
@media (min-width: 992px) {
  /* line 143, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .navTainer {
    width: 970px; } }
@media (min-width: 1200px) {
  /* line 147, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .navTainer {
    width: 1170px; } }
/* line 151, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.col-ms-1, .col-ms-10, .col-ms-11, .col-ms-12, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9 {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px; }

@media (min-width: 480px) and (max-width: 767px) {
  /* line 158, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container {
    max-width: 748px; }

  /* line 160, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .hidden-xs {
    display: block !important; }

  /* line 162, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-1, .col-ms-10, .col-ms-11, .col-ms-12, .col-ms-2, .col-ms-3, .col-ms-4, .col-ms-5, .col-ms-6, .col-ms-7, .col-ms-8, .col-ms-9 {
    float: left; }

  /* line 164, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-12 {
    width: 100%; }

  /* line 166, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-11 {
    width: 91.66667%; }

  /* line 168, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-10 {
    width: 83.33333%; }

  /* line 170, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-9 {
    width: 75%; }

  /* line 172, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-8 {
    width: 66.66667%; }

  /* line 174, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-7 {
    width: 58.33333%; }

  /* line 176, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-6 {
    width: 50%; }

  /* line 178, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-5 {
    width: 41.66667%; }

  /* line 180, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-4 {
    width: 33.33333%; }

  /* line 182, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-3 {
    width: 25%; }

  /* line 184, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-2 {
    width: 16.66667%; }

  /* line 186, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-1 {
    width: 8.33333%; }

  /* line 188, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-12 {
    right: 100%; }

  /* line 190, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-11 {
    right: 91.66667%; }

  /* line 192, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-10 {
    right: 83.33333%; }

  /* line 194, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-9 {
    right: 75%; }

  /* line 196, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-8 {
    right: 66.66667%; }

  /* line 198, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-7 {
    right: 58.33333%; }

  /* line 200, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-6 {
    right: 50%; }

  /* line 202, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-5 {
    right: 41.66667%; }

  /* line 204, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-4 {
    right: 33.33333%; }

  /* line 206, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-3 {
    right: 25%; }

  /* line 208, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-2 {
    right: 16.66667%; }

  /* line 210, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-1 {
    right: 8.33333%; }

  /* line 212, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-pull-0 {
    right: auto; }

  /* line 214, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-12 {
    left: 100%; }

  /* line 216, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-11 {
    left: 91.66667%; }

  /* line 218, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-10 {
    left: 83.33333%; }

  /* line 220, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-9 {
    left: 75%; }

  /* line 222, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-8 {
    left: 66.66667%; }

  /* line 224, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-7 {
    left: 58.33333%; }

  /* line 226, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-6 {
    left: 50%; }

  /* line 228, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-5 {
    left: 41.66667%; }

  /* line 230, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-4 {
    left: 33.33333%; }

  /* line 232, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-3 {
    left: 25%; }

  /* line 234, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-2 {
    left: 16.66667%; }

  /* line 236, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-1 {
    left: 8.33333%; }

  /* line 238, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-push-0 {
    left: auto; }

  /* line 240, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-12 {
    margin-left: 100%; }

  /* line 242, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-11 {
    margin-left: 91.66667%; }

  /* line 244, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-10 {
    margin-left: 83.33333%; }

  /* line 246, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-9 {
    margin-left: 75%; }

  /* line 248, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-8 {
    margin-left: 66.66667%; }

  /* line 250, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-7 {
    margin-left: 58.33333%; }

  /* line 252, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-6 {
    margin-left: 50%; }

  /* line 254, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-5 {
    margin-left: 41.66667%; }

  /* line 256, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-4 {
    margin-left: 33.33333%; }

  /* line 258, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-3 {
    margin-left: 25%; }

  /* line 260, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-2 {
    margin-left: 16.66667%; }

  /* line 262, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-1 {
    margin-left: 8.33333%; }

  /* line 264, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-ms-offset-0 {
    margin-left: 0; } }
/* line 267, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.visible-ms, .visible-xs, .visible-ms-block, .visible-ms-inline, .visible-ms-inline-block, .visible-xs-block, .visible-xs-inline, .visible-xs-inline-block {
  display: none !important; }

@media (max-width: 479px) {
  /* line 271, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-xs {
    display: block !important; }

  /* line 273, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  table.visible-xs {
    display: table; }

  /* line 275, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  tr.visible-xs {
    display: table-row !important; }

  /* line 277, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  td.visible-xs, th.visible-xs {
    display: table-cell !important; }

  /* line 279, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-xs-block {
    display: block !important; }

  /* line 281, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-xs-inline {
    display: inline !important; }

  /* line 283, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-xs-inline-block {
    display: inline-block !important; } }
@media (min-width: 480px) and (max-width: 767px) {
  /* line 287, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-ms {
    display: block !important; }

  /* line 289, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  table.visible-ms {
    display: table; }

  /* line 291, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  tr.visible-ms {
    display: table-row !important; }

  /* line 293, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  td.visible-ms, th.visible-ms {
    display: table-cell !important; }

  /* line 295, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-ms-block {
    display: block !important; }

  /* line 297, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-ms-inline {
    display: inline !important; }

  /* line 299, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .visible-ms-inline-block {
    display: inline-block !important; } }
/* line 304, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
a {
  color: #00d39b; }

/* line 306, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
a:hover {
  color: #4cb9c5;
  text-decoration: none; }

/* line 312, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.navbar-brand {
  color: #424242 !important;
  padding-left: 0 !important;
  font-family: "Cabin";
  margin: 0;
  font-size: 21px; }

/* line 319, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#bs-example-navbar-collapse-1 {
  position: relative;
  z-index: 3; }

@media (min-width: 768px) {
  /* line 324, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #bs-example-navbar-collapse-1 {
    float: right; }

  /* line 326, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .navbar-header {
    width: 100%; }

  /* line 328, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .container-fluid {
    display: flex; }

  /* line 330, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .navbar-nav {
    margin-top: 21px; }

  /* line 333, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  ul a {
    font-family: "Karla";
    font-weight: 400;
    font-size: 16px;
    -webkit-transition: color 0.15s ease-in;
    -moz-transition: color 0.15s ease-in;
    -o-transition: color 0.15s ease-in;
    -ms-transition: color 0.15s ease-in;
    transition: color 0.15s ease-in; }
    /* line 342, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    ul a:hover, ul a:focus {
      background-color: transparent !important; } }
/* line 345, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-top: 20px; }

@media (max-width: 768px) {
  /* line 354, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .navbar-nav {
    margin-top: 0px; }

  /* line 356, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  ul {
    text-align: center;
    list-style: none;
    line-height: 2;
    padding: 0; }
    /* line 361, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    ul a {
      font-family: "Karla";
      color: #ffffff;
      font-size: 14px;
      padding: 5px !important;
      -webkit-transition: color 0.15s ease-in;
      -moz-transition: color 0.15s ease-in;
      -o-transition: color 0.15s ease-in;
      -ms-transition: color 0.15s ease-in;
      transition: color 0.15s ease-in;
      line-height: 32px !important; }
      /* line 372, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
      ul a:hover, ul a:focus {
        background-color: transparent !important;
        color: #424242 !important; } }
/* line 380, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }
  /* line 396, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger:focus, .c-hamburger:hover {
    outline: none;
    background-color: transparent !important; }

@media (min-width: 768px) {
  /* line 401, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger {
    display: none; } }
/* line 404, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 0px;
  right: 0px;
  height: 4px;
  background: #00d39b; }
  /* line 412, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #00d39b;
    content: ""; }
  /* line 420, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger span::before {
    top: -8px; }
  /* line 422, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger span::after {
    bottom: -8px; }

/* line 426, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.c-hamburger--htx span {
  transition: background 0s 0.3s; }
  /* line 428, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger--htx span::before, .c-hamburger--htx span::after {
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s; }
  /* line 431, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger--htx span::before {
    transition-property: top, transform; }
  /* line 433, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger--htx span::after {
    transition-property: bottom, transform; }
/* line 436, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.c-hamburger--htx.is-active span {
  background: none; }
  /* line 438, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger--htx.is-active span::before {
    top: 0;
    transform: rotate(45deg); }
  /* line 441, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger--htx.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg); }
  /* line 444, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
    transition-delay: 0s, 0.3s; }

/* line 457, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
img {
  width: 100%;
  height: auto; }

/* line 461, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
footer {
  height: 70px; }
  /* line 463, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto; }

/* line 475, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.imageSquare {
  display: inline-block;
  position: relative; }

/* line 479, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-1 {
  position: relative;
  background: url("/images/projects/1.WrongSideOfTheStuds/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 485, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-2 {
  position: relative;
  background: url("/images/projects/2.TheUnit/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 491, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-3 {
  position: relative;
  background: url("/images/projects/3.SoupDragonShop/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 497, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-4 {
  position: relative;
  background: url("/images/projects/4.EdgarsZoo/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 503, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-5 {
  position: relative;
  background: url("/images/projects/5.Nudge/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 509, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-6 {
  position: relative;
  background: url("/images/projects/6.YankyPanky/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 515, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-7 {
  position: relative;
  background: url("/images/projects/7.Mixtable/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 521, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-8 {
  position: relative;
  background: url("/images/projects/8.DropboxQR/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 527, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#panel-image-9 {
  position: relative;
  background: url("/images/projects/9.SplitTest/1.jpg") no-repeat;
  background-size: cover;
  background-position: center; }

/* line 536, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.tiles {
  margin-right: 0px;
  margin-left: 0px; }

/* line 540, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#projectMain {
  padding: 10px 0; }

/* line 543, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.panel-image {
  margin-bottom: 10px; }

/* line 546, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.panel-image-footer {
  margin-bottom: 20px; }
  /* line 548, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .panel-image-footer h2 {
    padding-top: 2px;
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 17px;
    font-weight: 700;
    color: #333;
    font-family: "Karla"; }
  /* line 556, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .panel-image-footer p {
    margin-bottom: 0;
    font-size: 16px;
    color: #848484; }
  /* line 560, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .panel-image-footer h2, .panel-image-footer p {
    display: inline; }

@media screen and (min-width: 768px) {
  /* line 564, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .panel-image-footer {
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    left: 5px;
    display: block;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.5s;
    -webkit-backface-visibility: hidden; }
    /* line 576, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    .panel-image-footer .text-container {
      position: absolute;
      top: 220px;
      left: 0;
      width: 100%;
      text-align: center;
      -webkit-transform: translateZ(0); }
      /* line 583, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
      .panel-image-footer .text-container h2, .panel-image-footer .text-container p {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased; }
    /* line 587, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    .panel-image-footer:hover {
      opacity: 1; }
      /* line 589, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
      .panel-image-footer:hover .text-container {
        -webkit-animation: fadeInUp 0.4s;
        animation: fadeInUp 0.4s; }
    /* line 592, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    .panel-image-footer h2, .panel-image-footer p {
      color: #fff;
      font-family: "Karla"; } }
@media screen and (min-width: 1200px) {
  /* line 597, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .panel-image-footer .text-container {
    top: 250px; }

  /* line 599, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-sm-4 .panel-image-footer .text-container {
    top: 120px; } }
@media screen and (min-width: 768px) {
  /* line 604, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .col-sm-4 .panel-image-footer {
    margin-bottom: 10px; }
    /* line 606, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
    .col-sm-4 .panel-image-footer .text-container {
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
      text-align: center; } }
/* line 620, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#cvContainer {
  padding: 5% 0; }
  /* line 622, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #cvContainer h2 {
    font-size: 27px; }

/* line 624, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#meCon {
  padding-bottom: 25px; }

/* line 626, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#timeline {
  padding-bottom: 3%; }

/* line 632, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#timeline img {
  background-image: url("/images/TimelinePhone.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  height: 10px;
  padding-top: 252.5%; }

@media (min-width: 480px) and (max-width: 767px) {
  /* line 646, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #timeline img {
    background-image: url("/images/TimelinePhablet.svg");
    padding-top: 183%; } }
@media (min-width: 768px) and (max-width: 991px) {
  /* line 653, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #timeline img {
    background-image: url("/images/TimelineTablet.svg");
    padding-top: 170%; } }
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 660, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #timeline img {
    background-image: url("/images/TimelineLapt.svg");
    padding-top: 50%; } }
@media (min-width: 1200px) {
  /* line 667, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #timeline img {
    background-image: url("/images/TimelineDesk.svg");
    padding-top: 48.7%; } }
/* line 672, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.subText {
  margin: 30px 0;
  display: inline-block; }

/* line 677, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#meConSet {
  padding-right: 30px; }

/* line 685, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#skills img {
  background-image: url("/images/SkillsMob.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  height: 10px;
  padding-top: 252.5%; }

@media (min-width: 768px) {
  /* line 699, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #skills img {
    background-image: url("/images/Skills.svg");
    padding-top: 60.7%; } }
@media (min-width: 992px) {
  /* line 706, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  #skills img {
    padding-left: 30px;
    margin-top: 20px; } }
/* line 711, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.about-intro {
  font-size: 16px;
  padding: 0 0 6% 0; }

/* line 715, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#cvDwn {
  padding-top: 5%; }

/* line 718, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.dwnldCV {
  margin-left: auto;
  margin-right: auto;
  display: table;
  color: #868686;
  border-radius: 25px; }
  /* line 724, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
  .dwnldCV:hover {
    color: #ffffff; }

/* line 730, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#mePic {
  position: relative;
  background: url("/images/mePic.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 350px;
  overflow: hidden; }

/* line 738, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
#ldnPic {
  position: relative;
  background: url("/images/ldn.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  max-height: 350px;
  overflow: hidden; }

/* line 746, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
.contactMe {
  padding-top: 20px; }

/* line 749, /Users/dylanbahnan/Dropbox/Working/3-Portfolio/sinan.github.io/source/stylesheets/styles.sass */
input, textarea {
  margin-bottom: 10px; }
